.features {
    background-color: #fff;

}

.features .grid li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.features .grid li h4 {
    color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p {
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    .features .grid li {
        flex-basis: 70%;
        margin-bottom: 65px;
    }

    .features .grid li:last-child {
        margin-bottom: 0;
    }
}