* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url('https://images.unsplash.com/photo-1464646163800-8331cc18a357?ixlib=rb-1.2.1&auto=format&fit=crop&w=1046&q=80');
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.blurred-box {
    position: relative;
    width: 250px;
    height: 450px;
    top: calc(50% - 175px);
    left: calc(50% - 125px);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.blurred-box:after {
    content: "";
    width: 400px;
    height: 400px;
    background: inherit;
    position: absolute;
    left: -20px;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
    filter: blur(50px);
    -webkit-filter: blur(50px);
}

.user-login-box {
    position: relative;
    margin-top: 30px;
    text-align: center;
    z-index: 1;
}

.user-login-box > * {
    display: inline-block;
    width: 200px;
}

.user-icon {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    background-size: contain;
    background-image: url('https://c7.uihere.com/files/522/207/708/computer-icons-business-management-social-media-service-people-icon.jpg');
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user-title {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
}

input.user-username {
    margin-bottom: 4px !important;
}

input.user-username, input.user-password {
    display: block;
    width: 200px;
    height: 18px;
    opacity: 0.4;
    border-radius: 2px;
    padding: 15px 15px;
    border: none;
    margin: 0 auto;
    outline: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

/* button { */
.btn {
    text-align: center;
    padding: 5px 40px;
    color: #fff;
    margin: 15px 0;
    opacity: 0.7;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #33CC99;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

}

/* button:hover { */
.btn:hover {
    opacity: 1;
    background-color: #33CC99;
    color: #fff;
}

.user-login3party p {
    color: #fff;
    margin-bottom: 15px;
    margin: 5px 0;
}